@media (max-width: 1200px) 
{
    .container
    {
        max-width: 992px;
    }

    .menu ul a
    {
        font-size: 15px;
    }

    .images_follow_wrapper .image_follow
    {
        width: 225px;
    }

    .first_scroll:after
    {
        background-position-x: 50%;
    }

    .sect_news .lats_news .news_desc
    {
        width: 360px;
    }

    .sect_news .news_list .news_item
    {
        width: 310px;
    }

    footer .menu ul a
    {
        font-size: 13px;
    }
}
